body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #ff1900a9;
    color: #000000;
  }
  
  .btn:hover {
    background-color: #21b300;
  }
  